<nav class="mg-navbar navbar navbar-expand-lg  navbar-dark shadow-sm position-fixed w-100">
	<div class="container-fluid">
		<a class="navbar-brand text-uppercase mx-4 text-white font-weight-bold py-3" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav ms-auto mb-lg-0">
				<li class="nav-item pe-4">
					<a class="nav-link text-white font-weight-bold " href="#">Accueil
					</a>
				</li>
				<li class="nav-item pe-4">
					<a class="nav-link text-white font-weight-bold" href="#">Mes commandes
					</a>
				</li>
				<li class="nav-item pe-4 position-relative">
					<a class="nav-link text-white font-weight-bold" href="#">Mon panier
					</a>
					<span class="badge badge-danger position-absolute mg-badge-cart">1</span>
				</li>
				<li class="nav-item pe-4 ">
					<a class="text-white font-weight-bold mg-link-login btn " href="#">Connexion
					</a>
				</li>
			</ul>
		</div>

	</div>
</nav>
